---
import "../tailwind.css"
import VacPlanner from "../components/VacPlanner"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.ASSETS_PREFIX}/favicon.svg` />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Sandra | The Vacation Planning ChatBot</title>
	</head>
	<body class="p-2 md:p-5 font-ibm_plex_mono grid  grid-cols-12 grid-rows-10 *:col-span-full lg:*:col-start-3 lg:*:col-span-8 gap-3 md:gap-5 place-content-center h-screen w-screen bg-beach bg-cover bg-no-repeat">
		<header class="w-full row-span-1 bg-black rounded-sm p-2 md:p-5   flex items-center justify-between ">
			<span class="text-yellow-500 font-semibold italic text-xs md:text-sm">Plan your next vacation with <span class="underline">Sandra</span></span>
			<span class="text-white font-bold italic text-[6px] md:text-xs">built by Cletus Igwe</span>
		</header>
		<main class="row-span-8 md:row-span-9 bg-black bg-opacity-70 backdrop-blur-sm w-full rounded-sm">
			<VacPlanner client:visible/>
		</main>
	</body>
</html>
